.textStyle{
    color: blue;
    font-weight: bold;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
}
.boxStyle{
    width: 500px;
     height: 25px;
     border-style: solid;
}
#mail{
    width: 500px;
     height: 25px;
     border-style: solid;
}
.boxModel{
    display: block;
    background-color:#D37676;
    width: 400px;
    height: 100px;
    border:15px solid #F1EF99;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    outline-style:solid;
    outline-color: coral;
    overflow:auto;
}

a:hover{
    color: pink;
    
}
a.relative{
   position: relative;
   left: 50px;
}
a.absolute{
    position:absolute;
    
    right: 30px;
}
ul:a{
    list-style-type: square;
    text-align: left;
    list-style-position: inside;
     margin-left: 520px;
     
}
li{
    font-weight: bold;
    
}

table,th,td {
    margin: auto;
    
    border-width:2px ;
    border-style: double;
}
label{
    font-weight: bold;
    font-size: 25px;
}
