.parent{
    background-color: aquamarine;
    position: relative;

}
.one{
    background-color: blue;
    height:50px;
    position: relative;
    left:10px;
}
.two{
    background-color: brown;
    height: 50px;
    position: absolute;
    top:10px;
    left:10px;
}
.three{
    background-color: blueviolet;
    height: 50px;
}